/bootstrap/compiled.php
/app/config/database.php
/app/config/app.php
/rscripts/app.R
/rscripts/config.R
/rscript/research/*
/public/missingpattern/*
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.Rproj.user
