############################## Configuration ##############################
# 1. path: working directory path                                         #
###########################################################################

path <- '/Applications/XAMPP/xamppfiles/htdocs/HAII/rscripts'
# For production server 
# .libPaths(c('/home/haii/R/x86_64-unknown-linux-gnu-library/3.0','/opt/R-3.0.1/lib64/R/library'))


###########################[ End Configuration ]###########################

# required library
library('methods')

setwd(path)

# Sink STDERR to STDOUT
sink(stdout(), type="message")

appArgs <- commandArgs(trailingOnly = TRUE)
sourceFile <-  appArgs[1]
args <- appArgs[2:length(appArgs)]

cat(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>\n")

App.StartExecTime <- Sys.time()
cat("App.R: Executing ", sourceFile, " start at ", strftime(App.StartExecTime, "%Y-%m-%d %H:%M:%S"), "\n")
cat("---- Arguments\n")
print(args)
cat("\n")
source(sourceFile)

App.EndExecTime <- Sys.time()
cat("App.R: Executing ", sourceFile, " finished at ", strftime(App.EndExecTime, "%Y-%m-%d %H:%M:%S"), "\n")
cat("App.R: Time Executed: ", as.numeric(App.EndExecTime - App.StartExecTime, unit="secs") , " secs\n")
cat("<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<\n")