
# PostgreSQL config
Config.databaseName     <- "telemetering"
Config.databaseUser     <- "postgres"
Config.databasePassword <- "postgres"

# Data setup
Config.defaultDataInterval <- 600     # 10 minutes
Config.defaultRainDataInterval <- 3600 # 1 hour
Config.consecutiveProblemGapThreshold <- 1 # 1 hr
Config.allowDataType <- c("WATER", "RAIN")

# Email setup
# Config.Email.baseURL <- "http://qc.haii.or.th/HAII/public/index.php"
Config.Email.baseURL <- "http://localhost/HAII/public/index.php"
Config.Email.basePath <- "/api/email/"
Config.Email.Instantly.fullURL <- paste0(Config.Email.baseURL, Config.Email.basePath, "send_alert/instantly")

Config.Email.Daily.fullURL <- paste0(Config.Email.baseURL, Config.Email.basePath, "send_report/daily")
# Config.Email.Monthly.fullURL <- paste0(Config.Email.baseURL, Config.Email.basePath, "monthly")

Config.Email.useEmailNotification <- TRUE
Config.Email.APIKey <- "HAIIEMAILKEY"

# Out of Range config
Config.OutOfRange.Water.groundLevelOffset <- -1
Config.OutOfRange.Water.bankOffset <- 4

Config.OutOfRange.Rain.threshold <- 120

# Config.OutOfRange.backwardThreshold <- 60 * 60 * 24
Config.OutOfRange.backwardThreshold <- 3600 * 24 * 30 * 5


# Missing Gap config
# Config.MissingGap.defaultInterval <- 7 * 24 * 60 * 60    # 7 days
Config.MissingGap.defaultInterval <- 5 * 60 * 60 # 5 hours

# Flat Value Config
# Config.FlatValue.defaultIntervall <- 3 * 24 * 60 * 60 # 3 days
Config.FlatValue.defaultThreshold <- 5 * 60 * 60 # 5 hours